#product_info{
	width:920px;
	overflow:hidden;
}
#product_info  .sign{
	width:100%;
	min-height:60px;
	max-height:none;
	box-sizing: border-box;
	border:1px solid whitesmoke;
 	border-radius:10px;
	margin-bottom:10px;
	padding:20px 10px 10px 10px;
	background-image:url('../images/tuding.png');
	background-repeat:no-repeat;
	background-position:0px top;
	background-size:20px auto;
	box-shadow:0 2px 12px 0 rgba(0, 0, 0, 0.1);
	/* overflow:hidden; */
}
#product_info  .signline{
	width:100%;
	min-height:40px;
	max-height:none;
	margin-bottom:10px;
	overflow:hidden;
}

#product_info .signleft{
	width:100px;
	height:40px;
	line-height:40px;
	float:left;
	color:#999C9A;
}

#product_info .signright{
	width:790px;
	min-height:40px;
	max-height:none;
	line-height:40px;
	float:left;
}

#product_info .signright a{
	color:#000;
	text-decoration: none;
	margin-right:10px;
}
#product_info .signright a:hover,#product_info .signright a.active{
	color:#FF5000;
}
 
#product_info .list{
	width:100%;
	min-height:650px;
	border-radius:5px;
	overflow:hidden;
}

#product_info  .product{
	float:left;
	width:225px;
	height:215px;
	box-sizing: border-box;
	padding:5px;
	margin-right:5px;
	margin-bottom:5px;
	background-color:#F7F9FA;
 	border-radius:10px;
	overflow:hidden;
}

#product_info  .productPic{
	width:200px;
	text-align:center;
	height:130px;
	line-height:130px;
	overflow:hidden;
}

#product_info  .productPic img{
	width:180px;
	height:125px;
	border:0px;
	border-radius:20px;
}

#product_info  .productText{
	width:180px;
	text-align:left;
	padding-left:20px;
	line-height:25px;
	color:#A88D5A;
	overflow:hidden;
}

#product_info  .productText .title{
	color:black;
	font-weight:bold;
}

